@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables.scss";

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: $dark-75;
}

.h1 {
    color: $dark-100;
    font-weight: bold;
    font-size: 24px;
}

.h2 {
    font-weight: bold;
    font-size: 19px;
}

.h3 {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.content {
    max-width: 1000px;
    padding: 0 140px;
    margin: 0 auto;
    height: 100%;
}

*:focus {
    outline: none;
}

.input:hover {
    outline: 2px solid $primary-color;
}

@import '../../pug/pages/index/index.scss';


@import '../../pug/components/logo/logo.scss';
@import '../../pug/components/navbar/navbar.scss';
@import '../../pug/components/search_card/search_card.scss';
@import '../../pug/components/footer/footer.scss';
