$dark-100: rgba($color: #1F2041, $alpha: 1);
$dark-75: rgba($color: #1F2041, $alpha: 0.75);
$dark-50: rgba($color: #1F2041, $alpha: 0.5);
$dark-25: rgba($color: #1F2041, $alpha: 0.25);
$dark-5: rgba($color: #1F2041, $alpha: 0.05);
$primary-color: #BC9CFF;
$second-color: #6FCF97;

$main-gradient: linear-gradient(180deg, #BC9CFF, #8BA4F9);
