@import "~/assets/scss/variables.scss";

.navbar_items {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

.navbar_item_push {
    margin-left: auto;
}

.navbar_links {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.navbar_link {
    text-decoration: none;
    color: $dark-50;
}

.navbar_link_selected {
    color: $dark-75;
    font-weight: bold;
}

.navbar_link_can_expand:after {
    content: url(/assets/img/expand_more.svg);
    padding: 1px 0 1px 5px;
}

.navbar_login_button {
    border: 2px solid;
    border-radius: 34px;
    background: none;

    padding: 5px 20px;

    color: $primary-color;
}

.navbar_registration_button {
    border-radius: 34px;
    background: $main-gradient;

    padding: 5px 20px;

    color: #FFF;
}
