nav.navbar
  .content
    .navbar_items
      div
        include ../logo/logo.pug
      .navbar_item_push.navbar_links
        a(href="TODO: change this").navbar_link.navbar_link_selected О нас
        a(href="TODO: change this").navbar_link.navbar_link_can_expand Услуги
        a(href="TODO: change this").navbar_link Вакансии
        a(href="TODO: change this").navbar_link.navbar_link_can_expand Соглашения
        a(href="TODO: change this").navbar_link.h3.navbar_login_button Войти
        a(href="TODO: change this").navbar_link.h3.navbar_registration_button Зарегистрироваться
