doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Toxin
  body
    header
      include ../../components/navbar/navbar.pug
    main
      .content
        include ../../components/search_card/search_card.pug
        p.index_page_quote
          | Лучшие номера для вашей работы<br>
          | отдыха и просто вдохновения
    footer
      include ../../components/footer/footer.pug
