@import "~/assets/scss/variables.scss";

main {
    background-image: url('/assets/img/landing_bg.jpg');
    background: url('/assets/img/landing_bg.jpg') no-repeat center center;
    padding-top: 70px;
    height: 830px;
    width: 100%;
    background-size: cover;
}

main .content {
    position: relative;
}

.index_page_quote {
    text-align: right;

    position: absolute;
    right: 0;
    top: calc(100% - 18px);
    transform: translate(-50%, -100%);
    margin: auto;
}
