@import "~/assets/scss/variables.scss";

.footer_links {
    box-shadow: 0 1px 0 rgba($color: #1F20411A, $alpha: 0.1);
}

.footer_links_flex {
    padding: 100px 0;
    display: flex;
    column-gap: 40px;
}


.footer_links_desc {
    width: 260px;
}

.footer_links_desc_logo {
    margin-bottom: 20px;
}

.footer_links_item {
    max-width: 150px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
}

.footer_link_item_link {
    text-decoration: none;
    color: $dark-50;
}

.footer_links_subscription {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer_links_subscription_text {
    color: $dark-75;
}

.footer_links_subscription_form {
    margin-left: auto;
    border: 1px solid rgba($color: #1F204140, $alpha: 0.25);
    border-radius: 4px;
    display: flex;
}

.footer_links_subscription_form_input {
    border: none;
    background: none;
    padding: 10px 15px;
    margin: 0;
}

.footer_links_subscription_form_button {
    border: none;
    background-color: #fff;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_copy {
    box-shadow: 0 10px 20px rgba($color: #1F20410D, $alpha: 0.05);
    height: 70px;
}

.footer_copy_items {   
    display: flex;
    align-items: center;

    height: 100%;
}

.footer_copy_item_copy {
    color: $dark-75;
}


.footer_copy_item_socials {
    margin-left: auto;

    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer_copy_item_social {
    font-size: 24px;

    background: $main-gradient;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
