.footer
  .footer_links 
    | links 
  .footer_copy
    .content
      .footer_copy_items
        .footer_copy_item_copy
          div() Copyright © 2018 Toxin отель. Все права защищены.
        .footer_copy_item_socials
          div.footer_copy_item_social 
          div.footer_copy_item_social 
          div.footer_copy_item_social 
