.footer
  .footer_links
    .content
      .footer_links_flex 
        .footer_links_desc
          .footer_links_desc_logo
            include ../logo/logo.pug
          div
            | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer_links_item
          h3.h3() Навигация
          - var items = [
          - ['О нас', "TODO: change link"], 
          - ['Новости', "TODO: change link"], 
          - ['Служба поддержки', "TODO: change link"], 
          - ['Услуги', "TODO: change link"]
          - ];
          each item in items
            .footer_links_item_li
              a.footer_link_item_link(href=item[1])= item[0]   

        .footer_links_item
          h3.h3() О нас
          - var items = [
          - ['О Сервисе', "TODO: change link"], 
          - ['Наша команда', "TODO: change link"], 
          - ['Вакансии', "TODO: change link"], 
          - ['Инвесторы', "TODO: change link"]
          - ];
          each item in items
            .footer_links_item_li
              a.footer_link_item_link(href=item[1])= item[0]

        .footer_links_item
          h3.h3() Служба поддержки
          - var items = [
          - ['Соглашения', "TODO: change link"], 
          - ['Сообщества', "TODO: change link"], 
          - ['Связь с нами', "TODO: change link"], 
          - ];
          each item in items
            .footer_links_item_li
              a.footer_link_item_link(href=item[1])= item[0]
        
        .footer_links_subscription
          h3.h3() Подписка
          .footer_links_subscription_text() Получайте специальные предложения и новости сервиса
          form.input.footer_links_subscription_form
            input.footer_links_subscription_form_input(type="email", name="subcription_email", placeholder="Email")
            button.footer_links_subscription_form_button
              img(src="assets/img/arrow_forward_color.svg")

  .footer_copy
    .content
      .footer_copy_items
        .footer_copy_item_copy
          div() Copyright © 2018 Toxin отель. Все права защищены.
        .footer_copy_item_socials
          div.footer_copy_item_social 
          div.footer_copy_item_social 
          div.footer_copy_item_social 
