@import "~/assets/scss/variables.scss";

.seach_card {
    padding: 40px 30px 30px;
    max-width: 380px;
    background-color: #fff;
    border: 1px solid rgba($color: #000000, $alpha: 0.12);
    border-radius: 4px;
    box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.2);
}

.seach_card_title {
    margin-bottom: 20px;
}

.seach_card_inputs_line {
    display: flex;
    height: 65px;
    gap: 0 20px;
    margin-bottom: 20px;
}

.seach_card_input_item {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px 0;
}

.search_card_input_submit {
    cursor: pointer;

    margin-top: 10px;

    background-color: $primary-color;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 44px;

    color: #FFF;
    vertical-align: center;

    background: url(assets/img/arrow_forward.svg) no-repeat right 20px center, $main-gradient;
}
